h1 {
	text-shadow: 4px 4px #00ff00;
	background-color: darkgray
	color: Red
	size: large
	font: TimesNewRoman
}
p1 {
	text-shadow: 2px 2px #ff0000;
	background: darkgray
	color: White
	size: medium
	font: TimesNewRoman
}
p2 {
	color: Maroon;
	background: CornflowerBlue;
	font-size: Extra large;
	text-align: center;
}
