h1 {
	background-color:DarkOrchid;
	color:Cyan;
	font-size:extra-large;
	text-align:center;
}
table {
	border: 3px solid silver;
}	
td:hover {
	background-color: yellow;
	color: black;
}
tr, th {
	background-color: DarkOrchid;
	color: Cyan;
	font-size: extra-large;
}
tr, td {
	background-color: DarkGray;
	color: Cyan;
	font-size: large;
}
